// Importing custom fonts from Google
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

// Override default variables before the import
$font-family-sans-serif: 'Lato', sans-serif;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import Font-Awesome and its default variables
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

// Import Krowdspace Component styles
@import '~krowdspace.components/src/core/navigation';

@import 'base/krowdspace';
// @import 'vendors/all';
// @import 'components/all';
