.hub-wrapper {
  display: flex;
  color: #fff;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5% 5% 5%;
  background: url('../images/krowdspace-bg.jpg') no-repeat;
  background-size: cover;
  height: 450px;
}
