.user-login-modal .modal-dialog {
  min-width: 800px;
}
.user-error-modal .modal-dialog {
  min-width: 550px;
}
.user-create-modal .modal-dialog,
.user-password-modal .modal-dialog {
  min-width: 400px;
  max-width: 400px;
}
.modal-back-icon {
  color: lighten($primary, 30%);
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 15px;
}
.modal-close-icon {
  color: lighten($primary, 30%);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-close-icon:hover,
.modal-back-icon:hover {
  color: $primary;
}
.user-login-header {
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}
.user-login-body {
  display: flex;
  padding: 25px 15px;
}
.user-error-body {
  padding: 25px 15px;
  text-align: center;
}
.user-create-body {
  padding: 25px 15px;
}
.user-login-left {
  width: 50%;
  border-right: 1px solid #d6d6d6;
  padding: 0px 25px 0px 10px;
}
.user-login-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px 10px 0px 25px;
}
.user-login-title,
.user-create-title {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 25px;
}
.user-create-title {
  text-align: center;
}
.user-checkbox-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-checkbox-item {
  width: 30%;
  margin: 4px 0px;
}
.user-password-container {
  display: flex;
  justify-content: space-between;
}
.user-password-label {
  flex-grow: 1;
}
.user-welcome-text {
  color: $primary;
  cursor: pointer;
  flex-grow: 1;
}
.user-welcome-text:hover {
  color: darken($primary, 10%);
}
.google-icon {
  cursor: pointer;
  color: #d3d3d3;
  margin-right: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-login {
  width: 100%;
  margin-top: 10px;
  height: 35px;
}
.btn-login:hover .google-icon {
  color: $primary;
}
.btn-login-text {
  margin-right: 10px;
}
.error-message {
  font-weight: 400;
}
