.project-image {
    height: 265px;
    width: auto;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
  }
  .profile-project-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .profile-chart-wrapper {
    margin: 0px 50px;
  }
  .profile-chart-container {
    min-height: 300px;
    height: 300px;
    max-height: 300px;
    height: 100%;
  }
  .project-bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  .project-metrics-container {
    width: 100%;
    margin-top: 25px;
    padding: 0px 15px 25px 15px;
  }
  .project-metrics-container:first-child {
    margin-top: 0px;
  }
  .project-right-container {
    width: 50%;
    padding: 0px 15px 25px 15px;
  }
  .profile-back-btn {
    color: lighten($primary, 30%);
    cursor: pointer;
  }
  .profile-back-btn:hover {
    color: $primary;
    cursor: pointer;
  }