// Importing custom fonts from Google
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$ks-modal-bg: rgba(0, 0, 0, 0.5);
$ks-width: 1200px;
// Override default variables before the import
$body-bg: #fff;
$text-color: #444;
$secondary: #fff;
$font-family-sans-serif: 'Lato', sans-serif;
$font-weight-normal: 300 !default;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import Font-Awesome and its default variables
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

// Import Krowdspace Component styles
@import '~krowdspace.components/src/core/navigation';
@import '~krowdspace.components/src/core/body';
@import '~krowdspace.components/src/core/sidepanel';

@import 'base/krowdspace';
@import 'components/all';
